# Package Files #
*.jar
*.war
*.ear
workspace.xml

# Windows shortcuts
*.link
.project
.setting
.classpath
.factorypath
target
workspace.xml

# IntellijIdea files

.idea
*.iml
workspace.xml
nb-configuration.xml
nbaction.xml
/page-factory/
